<div class="col-md-12">
  <div class="alert alert-danger" *ngIf="status == 'error'">
    <p *ngIf="message">
      {{ message }}
    </p>
    <p *ngIf="!message">
      El registro no se ha completado correctamente
    </p>

  </div>
  <h2>{{ title }}</h2>
  <div class="alert alert-success" *ngIf="status == 'success'">
     El registro se ha completado correctamente, <a [routerLink]="['login']">Identificate aquí</a>
  </div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-5">
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
        <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
      </div>
      <div>
        <label for="surname">Apellidos</label>
        <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
        <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorio</span>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
        <span *ngIf="!email.valid && email.touched">El Email es obligatorio</span>
      </div>
      <div>
        <label for="password">Contraseña</label>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
        <span *ngIf="!password.valid && password.touched">El password es obligatorio</span>
      </div>
      <div>
        <p></p>
        <input type="submit" value="Registrarme" class="btn btn-success">
      </div>

  </form>
</div>
