<div class="col-md-12">
  <h2>Vehículo: {{ car.title }}</h2>
  <p><strong>Descripción:</strong> {{ car.description }}<p>


  <p> <strong>Precio: </strong> $ {{ car.price }}</p>
  <p><strong>Estado:</strong> <span *ngIf="car.status == 'true'">Este vehículo esta a la venta</span>
    <span *ngIf="car.status == 'false'">Este vehículo no esta a la venta</span></p>

</div>
