<div class="loading" *ngIf="!cars">Cargando...</div>
<div class="col-md-12" *ngIf="cars">
  <h2>{{ title }}</h2>

  <table class="table table-hover table-striped" id="cars-list">

    <tbody>
      <tr>
        <th colspan="4" class="text-center">Lista de coches</th>
      </tr>
      <tr>
        <th>Vehículo</th>
        <th>Precio</th>
        <th>¿A la venta?</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let car of cars">
        <td>{{ car.title }}</td>
        <td>{{ car.price }}</td>
        <td>
          <span *ngIf="car.status == 'true'">SI</span>
          <span *ngIf="car.status != 'true'">NO</span>
        </td>
        <td>
          <a *ngIf="token" [routerLink]="['/car/edit', car.id]" class="btn btn-sm btn-warning">Editar</a>
          <a  *ngIf="token" (click)="deleteCar(car.id)"  class="btn btn-sm btn-danger">Eliminar</a>
          <a [routerLink]="['/car/show', car.id]" class="btn btn-sm btn-default">Detalle</a>
        </td>
      </tr>
    </tbody>
  </table>


</div>
