<div class="col-md-12">
  <h1>{{ page_title }}</h1>
  <div class="alert alert-danger" *ngIf="status_car == 'error'">
    <p [innerHTML]="message"></p>
  </div>
  <div class="alert alert-success" *ngIf="status_car == 'success'">
    {{ message }}
  </div>

  <form #carNewForm="ngForm" (ngSubmit)="onSubmit(carNewForm)" class="col-md-5">
    <div>
      <label for="title">Título</label>
      <input type="text" name="title" #title="ngModel" [(ngModel)]="car.title" class="form-control" required/>
      <span *ngIf="!title.valid && title.touched">El título no es valido.</span>
    </div>
    <div>
      <label for="description">Descripción</label>
      <textarea name="description" #description="ngModel" [(ngModel)]="car.description" class="form-control" required></textarea>
      <span *ngIf="!description.valid && description.touched">Descripción no es valido.</span>
    </div>
    <div>
      <label for="price">Precio</label>
      <input type="text" name="price" #price="ngModel" [(ngModel)]="car.price" class="form-control" required/>
      <span *ngIf="!price.valid && price.touched">El precio no es valido.</span>
    </div>
    <div>
      <label for="status">¿A la venta?</label>
      <select name="status" id="status" class="form-control" #status="ngModel" [(ngModel)]="car.status" required>
        <option value="true" selected="selected">SI</option>
        <option value="false">NO</option>
      </select>

      <span *ngIf="!status.valid && status.touched">El precio no es valido.</span>
    </div>
    <div>
      <p></p>
      <input type="submit" value="Guardar" class="btn btn-success" [disabled]="!carNewForm.valid" />
    </div>
  </form>
</div>
