<!--Cabecera-->
<header id="header">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Concesionario</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['']">Inicio</a>
        </li>
        <li *ngIf="identity && identity.email">
          <a [routerLink]="['car/new']">Crear coche</a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right" *ngIf="!identity">
        <li>
          <a [routerLink]="['login']">Identificate</a>
        </li>
        <li>
          <a [routerLink]="['register']">Registrate</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right" *ngIf="identity && identity.email">
        <li>
          <a>
            {{ identity.name + ' ' + identity.surname }}
            <span>{{ identity.email }}</span>
          </a>

        </li>
        <li>
          <a [routerLink]="['logout', 1]"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!--Contenido-->
<router-outlet></router-outlet>

