<div class="col-md-12">

  <h2>{{ title }}</h2>
  <div class="alert alert-danger" *ngIf="status == 'error'">
    <p *ngIf="message">
      {{ message }}
    </p>
  </div>
  <div class="alert alert-success" *ngIf="status == 'success'">
    Te has identificado correctamente
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-md-5">
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
      <span *ngIf="!email.valid && email.touched">
        Email no es válido
      </span>
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
      <span *ngIf="!password.valid && password.touched">
        Contraseña no es válido
      </span>
    </div>
    <div>
      <p></p>
      <input type="submit" value="Entrar" class="btn btn-success" [disabled]="!loginForm.form.valid">
    </div>
  </form>
</div>
